:root {
    --min-content-width: 800px;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: min(var(--min-content-width), 90vw);

    font-size: 16pt;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40pt;
}

@media (min-width: 1000px) { 
    .bilde-forklaring-wrapper {
	display:flex;
    }
}

@media (min-width: 1000px) { 
    .bilde {
	width: calc(50% - 20px);
	margin-right: 20px;
    }
}

@media (max-width: 999px) { 
    .bilde {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
    }
}


.bilde img {
    width:100%;
}

.kreditering {
    font-size: 12pt;
    font-style: italic;
    margin-top: 10px;
}

.forklaring {
    display: flex;
    flex-direction: column;
 
}

@media (min-width: 1000px) { 
    .forklaring {
	width: 50%;
    }
}

@media (max-width: 999px) { 
    .forklaring {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
    }
}


.forklaring > * {
    flex-grow: 1;
    text-align: center;
}

.forklaring h3 {
    text-align: center;
}

.lyd {
    display: flex;
    flex-direction: column;
}

.lyd audio {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
